body {
    background-color: rgb(62, 2, 2);
    text-align: center;
}

h1 {
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 0);
}

.lista {
    text-align: left;
    font-style: italic;
    text-decoration: overline;
    color: rgb(72, 255, 0);
}